@model BLM_24032024.Models.BookListWrapper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="mt-2 mb-3">
                    <div class="row">
                        <div class="col-4">
                            <a asp-action="Create" class="btn btn-primary">Add Book</a>
                        </div>
                        <div class="col-8">
                            <partial name="~/Views/Shared/_Pagenation.cshtml" model="Model.PageInfo" />
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Book Title</th>
                            <th>Price</th>
                            <th>No. of Pages</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Books)
                        {
                            <tr>
                                <td>@item.BookName</td>
                                <td>@item.Price</td>
                                <td>@item.NoPages</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
